.page-cv {
  .panel {
    border-style: none;
    margin-bottom: 0;

    .panel-heading{
      color: $color-text-red;
      border-style: none;
      background-color: transparent;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      //font-weight: bold;
    }
    .panel-body{
      padding-left: 0;
      padding-right: 0;
      text-wrap: normal;
    }
  }

  .cv-contacts {
    list-style: none;
    padding-left: 0;
  }

  .cv-contact {
    display: table;
    width: 100%;
    vertical-align: baseline;
    padding: 5px 0;
  }
  .cv-contact-icon {
    display: table-cell;
    vertical-align: middle;
    font-size: 26px;
    text-align: left;
    width: 42px;
    color: $color-text-cyan;
  }
  .cv-contact-details {
    display: table-cell;
    vertical-align: middle;
  }
  .cv-contact-title {
    font-weight: bold;
    color: $color-text-cyan;
  }
  .cv-contact-link {
    color: grey;
    font-size: 12px;
    input {
      @include transition(border-color 0.5s);
      border: 1px solid transparent;
      width: 100%;
      &:hover {
        border-color: lightgrey
      }
    }
  }
}
