{{#extend "layout" }}
    {{#content "body"}}
        <h1>404 Not found</h1>
        {{#if resource}}
            <strong>resource: </strong><span>{{resource}}</span>
        {{/if}}
    {{/content}}
{{/extend}}
