@import '~vendor/styles/index';
@import 'varaibles';

@import 'components/Navigation';
@import 'components/UserNavbar';
@import 'components/Footer';
//@import './components/inputs/PasswordInput'

.content {

  // portrait mode
  @media screen and (max-width: $break-landscape) {
    .row:first-child {
      min-height: 400px;
    }
  }
    // landscape
  @media screen and (min-width: $break-landscape) {
    margin-left: $navigation-landscape-width;
    .row:first-child {
      min-height: 700px;
    }
  }
}