@import '~vendor/styles/index';
@import 'varaibles';

@import 'mixins/transition';
@import 'mixins/gradients';

@import 'components/helpers/Waiter';
//@import './components/inputs/PasswordInput'

@import 'components/Navigation';
@import 'components/UserNavbar';
@import 'components/Footer';

@import 'pages/CV';

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 320px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-device-width : 768px) {
  .page-content {
    .row:first-child {
      min-height: 400px;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .page-content {
    .row:first-child {
      min-height: 700px;
    }
  }
}

@media only screen
and (min-device-width : 1024px) {
  .page-content {
    margin-left: $navigation-landscape-width;
    .row:first-child {
      min-height: 700px;
    }
  }
}

.popover-content {
  font-size: smaller;
}