$break-landscape: 1024px;
$navigation-landscape-width: 333px;
$navigation-avatar-dimension: 180px;
$navigation-z-index: 108;

$color-text-red: #d10125;
$color-text-lightred: #EA99A7;
//$color-text-cyan: #134f5c;
$color-text-cyan: #335367;
$bg-color-lightred: #D35B6F;
$bg-color-darkred: #AE374B;
$bg-color-lightcyan: rgba(144, 191, 219, 0.13);