$break-landscape: 768px;
$navigation-landscape-width: 333px;
$navigation-avatar-dimension: 180px;
$navigation-device375-dimension: 150px;

$z-index-navigation: 108;
$z-index-edu-bg-line: 90;
$z-index-edu-year: 92;
$z-index-prj-year: 92;

$color-text-red: #d10125;
$color-text-lightred: #EA99A7;
$color-text-lightred1: #e06666;
//$color-text-cyan: #134f5c;
$color-text-cyan: #335367;
$bg-color-lightred: #D35B6F;
$bg-color-darkred: #AE374B;
$bg-color-lightcyan: rgba(144, 191, 219, 0.13);